<div class="panel panel-primary">
    <div class="panel-heading">
        Edit Vehicle
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-4">
                <div class="form-group">
                    <label for="make">Make</label>
                    <input id="make" type="text" class="form-control" ng-model="vehiclesDetailCtrl.vehicle.make">
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <label for="model">Model</label>
                    <input id="model" type="text" class="form-control" ng-model="vehiclesDetailCtrl.vehicle.model">
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <label for="color">Color</label>
                    <input id="color" type="text" class="form-control" ng-model="vehiclesDetailCtrl.vehicle.color">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <div class="form-group">
                    <label for="retailPrice">Retail Price</label>
                    <input id="retailPrice" type="text" class="form-control" ng-model="vehiclesDetailCtrl.vehicle.retailPrice">
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <label for="vehicleType">Vehicle Type</label>
                    <input id="vehicleType" type="text" class="form-control" ng-model="vehiclesDetailCtrl.vehicle.vehicleType">
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <label for="year">Year</label>
                    <input id="year" type="text" class="form-control" ng-model="vehiclesDetailCtrl.vehicle.year">
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer clearfix">
        <button class="btn btn-success pull-right" ng-click="vehiclesDetailCtrl.save()">
      Save<i class="glyphicon glyphicon-save"></i>
      </button>
    </div>
</div>
